certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
fake-useragent==0.1.11
idna==2.10
mock==4.0.2
parse==1.15.0
pyquery==1.4.1
requests==2.24.0
requests-xml==0.2.3
six==1.15.0
urllib3==1.25.9
w3lib==1.22.0

